<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="Squid" Language="1033" Version="7.4" Manufacturer="Squid Project" UpgradeCode="103139C5-4C94-471D-94D6-D838BB7E6CB9" InstallerVersion="200" ProductCode="01D9D1A2-D311-4932-9856-438608315C61">
    <SummaryInformation Description="Installer for Squid from Diladele B.V." />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Squid cmd shortcut -->
    <Property Id="CMD_PATH">
      <DirectorySearch Path="[WindowsFolder]System32" Depth="0" Id="WinSystem32Path" AssignToProperty="no">
        <FileSearch Name="cmd.exe" Id="cmdFileSearch" />
      </DirectorySearch>
    </Property>

    <!-- licenses and themes -->
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

    <!-- add/remove icon -->
    <Icon Id="AddRemoveIcon" SourceFile="SquidIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AddRemoveIcon" />

    <!-- Prepare to start the tray application as custom action -->
    <Property Id="WixShellExecTarget" Value="[#tray6FAE4CBABF7D43429B28E0B5977FD050]" />
    <CustomAction Id="LaunchApplication" DllEntry="WixShellExec" Impersonate="yes" BinaryRef="Wix4UtilCA_X86" />

    <!-- Installing certificates -->
    <CustomAction Id="RemoveSsldbDirectoryPrepare" Property="RemoveSsldbDirectory" Value="&quot;cmd.exe&quot; /c rmdir /S /Q &quot;[cache]squid_ssldb&quot;&quot;" Execute="immediate" />

    <CustomAction Id="RemoveSsldbDirectory" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />

    <CustomAction Id="RunSslCrtdPrepare" Property="RunSslCrtd" Value="&quot;[squid_1]security_file_certgen.exe&quot; -c -s &quot;[cache]squid_ssldb&quot; -M 4MB" Execute="immediate" />

    <CustomAction Id="RunSslCrtd" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no" BinaryRef="Wix4UtilCA_X86" />

    <InstallExecuteSequence>
      <Custom Action="RemoveSsldbDirectoryPrepare" After="CostFinalize" />
      <Custom Action="RunSslCrtdPrepare" After="CostFinalize" />
      <Custom Action="RemoveSsldbDirectory" Before="RunSslCrtd" />
      <Custom Action="RunSslCrtd" Before="InstallFinalize" Condition="NOT Installed AND NOT REMOVE" />
    </InstallExecuteSequence>

    <UI>
      <ui:WixUI Id="WixUI_InstallDir" />

      <!-- Start tray application -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication" Condition="NOT Installed" />
    </UI>

    <util:CloseApplication Id="CloseTrayApp" Target="Diladele.Squid.Tray.exe" CloseMessage="yes" ElevatedCloseMessage="yes" RebootPrompt="no">
    </util:CloseApplication>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <PropertyRef Id="NETFRAMEWORK35" />
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <PropertyRef Id="NETFRAMEWORK45" />

    <Launch Condition="Installed OR Privileged" Message="The product requires administrator priviledge." />

    <Launch Condition="Installed OR NETFRAMEWORK35 OR NETFRAMEWORK40FULL OR NETFRAMEWORK45" Message="The product requires at least Microsoft .NET 3.5 to be installed on the machine." />

    <Launch Condition="Installed OR VersionNT64" Message="The product requires the operating system to be 64 bit." />

    <Launch Condition="Installed OR VersionNT64 &gt;= 600" Message="The product requires at least Windows Vista or Server 2008." />

    <Feature Id="SquidFeature" Title="Squid" Description="Installs Squid server." Level="1">
      <ComponentGroupRef Id="SquidFilesGroup" />
	  <ComponentGroupRef Id="SquidNET" />
      <ComponentGroupRef Id="SquidRegistry" />
      <ComponentGroupRef Id="SquidService" />
      <ComponentGroupRef Id="SquidTray" />
      <ComponentGroupRef Id="SquidFirewall" />
    </Feature>
  </Package>

  <Fragment>
        <Directory Id="INSTALLFOLDER" Name="Squid" />
      <StandardDirectory Id="DesktopFolder" />
    </Fragment>
</Wix>
